*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/nav/
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build

# Google Services & AppGallery Connect configuration (Push Keys for Open-source safety)
**/google-services.json
**/agconnect-services.json

# Local Keystore properties & signatures (App signing)
**/keystore.properties
*.jks
*.keystore

